:root {
  --list-centuary-font-family: "Century Gothic";
  --list-arial-font-family: "Arial";
  --body-max-width: 940px;
  --header-margin-bottom: 41px;
  --a-hover-color: #fefefe;
  --main-background-color: #ffffff;
  --orange-color: #ec8a1b;
}
:root.dark {
  --background-color: rgb(68, 68, 94);
  --header-text-color: #fcfcfc;
  --header-a-color: #fcfcfc;
  --main-border: 1px solid white;
  --home-section-border: 1px solid white;
  --home-label-color: white;
  --footer-background-color: white;
  --border-color:1px solid white;
  --text-color: #fcfcfc;
}
:root.light {
  --background-color: #e5e5e5;
  --header-text-color: #666565;
  --header-a-color:#666565;
  --main-border: 1px solid black;
  --home-section-border: 1px solid #e1e0e0;
  --home-label-color: black;
  --footer-background-color: black;
  --border-color:1px solid black;
  --text-color: black;
}

body#home {
  max-width: var(--body-max-width);
  background-color: var(--background-color);
  margin: 0 auto;
}
body#home span {
  color: var(--orange-color);
}
body#home main {
  border-radius: 8px;
  -webkit-filter: drop-shadow(1.06px -1.696px 2.5px rgba(234, 234, 234, 0.23));
          filter: drop-shadow(1.06px -1.696px 2.5px rgba(234, 234, 234, 0.23));
  background-color: var(--main-background-color);
  border: var(--main-border);
  padding: 10px;
  margin-bottom: 24px;
}
body#home main img {
  -webkit-filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.28));
          filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.28));
}
body#home main article h2 {
  font-size: 27px;
  color: #363d40;
  font-family: var(--list-centuary-font-family);
  border-bottom: 1px solid #bcbcbc;
  padding: 10px;
}
body#home main article p:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: #bcbcbc;
  font-family: var(--list-centuary-font-family);
  border-bottom: 1px solid #bcbcbc;
  padding: 10px;
}
body#home main article p:nth-child(3) {
  font-size: 12px;
  color: #9a9b9c;
  font-family: var(--list-arial-font-family);
  padding: 10px;
}
body#home .sections {
  margin: 0;
}
body#home section {
  border-radius: 6px;
  -webkit-filter: drop-shadow(1px 1.732px 1.5px rgba(197, 196, 196, 0.47));
          filter: drop-shadow(1px 1.732px 1.5px rgba(197, 196, 196, 0.47));
  background-color: #ffffff;
  border: var(--home-section-border);
  margin: 10px;
}
body#home section h2 {
  font-size: 20px;
  color: #7e7e7e;
  font-family: var(--list-centuary-font-family);
  background-color: #eaeaea;
  padding: 10px;
}
body#home .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
body#home section img {
  float: left;
  margin: 5px;
}
body#home .text {
  float: right;
  padding: 10px;
}
body#home section .text h3 {
  font-size: 13px;
  color: #666565;
  font-weight: bold;
  font-family: var(--list-arial-font-family);
  padding-bottom: 5px;
}
body#home section .text p:nth-child(2) {
  font-size: 12px;
  line-height: 18px;
  color: #9a9b9c;
  font-family: var(--list-arial-font-family);
  padding-bottom: 5px;
}
body#home section .text p:nth-child(2) u {
  color: #666565;
}
body#home section .text p:nth-child(3) {
  font-size: 12px;
  color: var(--orange-color);
  font-family: var(--list-arial-font-family);
  text-align: right;
  padding-right: 10px;
}
body#home .asides {
  margin-bottom: 30px;
  margin-top: 18px;
}
body#home aside {
  padding: 10px;
}
body#home aside:nth-child(1) h2 {
  font-size: 22px;
  color: var(--orange-color);
  font-family: var(--list-centuary-font-family);
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 20px;
}
body#home aside:nth-child(1) p {
  font-size: 12px;
  line-height: 18px;
  color: #9a9b9c;
  font-family: var(--list-arial-font-family);
}
body#home aside:nth-child(2) h2 {
  font-size: 19px;
  color: var(--orange-color);
  font-family: var(--list-centuary-font-family);
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
body#home aside img {
  max-width: 20%;
}

/****************************************client.html*/
body#client {
  max-width: var(--body-max-width);
  background-color: var(--background-color);
  margin: 0 auto;
}
body#client span {
  color: var(--orange-color);
}
body#client main {
  border-radius: 5px;
  background-color: white;
  border: var(--main-border);
  padding: 12px;
}
body#client #iconClient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}
body#client h2 {
  color: var(--orange-color);
}
body#client .sections {
  border-top: 1px solid black;
}
body#client section {
  margin: 20px;
}
body#client section img {
  border: 5px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 5px;
}
body#client section p {
  padding: 10px;
  margin-bottom: 5px;
}
body#client section p:nth-of-type(1) {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  font-family: var(--list-centuary-font-family);
}
body#client section p:nth-of-type(2) {
  font-size: 12px;
  line-height: 18px;
  color: #9a9b9c;
  font-family: var(--list-arial-font-family);
}
body#client .asides h2 {
  border-bottom: 1px solid black;
  padding: 15px;
  margin: 5px;
}
body#client aside {
  margin-top: 20px;
}
body#client aside p {
  font-size: 12px;
  line-height: 18px;
  color: #9a9b9c;
  font-family: var(--list-arial-font-family);
  margin-bottom: 5px;
}
body#client aside ul {
  list-style: inside;
}
body#client aside ul li {
  font-size: 12px;
  line-height: 18px;
  color: #666665;
  font-weight: bold;
  font-family: var(--list-arial-font-family);
  padding: 10px;
  margin-bottom: 5px;
}

/********************************************contact.html*/
body#contact {
  max-width: var(--body-max-width);
  background-color: var(--background-color);
  margin: 0 auto;
}
body#contact span {
  color: var(--orange-color);
}
body#contact main {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  border: var(--main-border);
  padding: 12px;
  padding-bottom: 100px;
}
body#contact #iconContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body#contact section {
  margin-right: 20px;
}
body#contact section p {
  border-top: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
body#contact .asides {
  margin: 0;
}
body#contact .asides h2 {
  border-bottom: 1px solid black;
  color: var(--orange-color);
  padding: 7px;
  margin-bottom: 5px;
}
body#contact aside {
  margin-bottom: 20px;
}
body#contact aside:nth-of-type(1) h2 {
  margin-top: 15px;
}
body#contact aside p {
  font-size: 12px;
  line-height: 18px;
  color: #9a9b9c;
  font-family: var(--list-arial-font-family);
  padding: 10px;
  margin-bottom: 5px;
}
body#contact aside ul {
  list-style: inside;
}
body#contact aside:nth-of-type(1) ul li {
  font-size: 12px;
  line-height: 18px;
  color: #666665;
  font-family: var(--list-arial-font-family);
}
body#contact aside:nth-of-type(1) ul li::marker {
  color: var(--orange-color);
}
body#contact aside:nth-last-of-type(3) ul li {
  font-size: 12px;
  line-height: 18px;
  color: #666665;
  font-weight: bold;
  font-family: var(--list-arial-font-family);
  padding: 5px;
  margin-bottom: 5px;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../../public/font/Century Gothic Regular/1105886371.ttf");
}
nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-size: 12px;
  line-height: 18px;
  color: var(--header-text-color);
  font-family: var(--list-arial-font-family);
  text-decoration: none;
  color: var(--header-a-color);
  margin-right: 15px;
}

.current {
  width: 79px;
  height: 27px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ef9f46), color-stop(50%, #f3ab5b), to(#f4cfa7));
  background-image: linear-gradient(0deg, #ef9f46 0%, #f3ab5b 50%, #f4cfa7 100%);
  border: 1px solid #675f55;
  line-height: 5px;
  padding: 10px;
}

.menu {
  display: block;
}

@media screen and (max-width: 1024px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .current {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .current {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  body#home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "hh hh hh" "mh mh mh" "sh sh sh" "ah ah ah" "fh fh fh";
  }
  body#home header {
    grid-area: hh;
  }
  body#home main {
    grid-area: mh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  body#home .sections {
    grid-area: sh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  body#home .asides {
    grid-area: ah;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  body#home footer {
    grid-area: fh;
  }
  body#client {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h h h" "m m m" "f f f";
  }
  body#client header {
    grid-area: h;
  }
  body#client main {
    grid-area: m;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "art sid";
  }
  body#client main article {
    grid-area: art;
  }
  body#client .sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  body#client main aside {
    grid-area: sid;
  }
  body#client footer {
    grid-area: f;
  }
  body#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h h h" "m m m" "f f f";
  }
  body#contact header {
    grid-area: h;
  }
  body#contact main {
    grid-area: m;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "s a";
  }
  body#contact section {
    grid-area: s;
  }
  body#contact .asides {
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#contact footer {
    grid-area: f;
  }
}
@media screen and (max-width: 1024px) {
  body#home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#home main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#home main img {
    grid-area: 2/1/3/2;
  }
  body#home main article {
    grid-area: 1/1/2/2;
  }
  body#home .sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
  }
  body#home .asides {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#home .asides aside:nth-last-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 35px;
  }
  body#client {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h h" "m m" "f f";
  }
  body#client header {
    grid-area: h;
  }
  body#client main {
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "art art" "aside1 aside1";
  }
  body#client article {
    grid-area: art;
  }
  body#client article .sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  body#client .asides {
    grid-area: aside1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#client footer {
    grid-area: f;
  }
  body#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h h h" "m m m" "f f f";
  }
  body#contact header {
    grid-area: h;
  }
  body#contact main {
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "s" "a";
  }
  body#contact main section {
    grid-area: s;
  }
  body#contact .asides {
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "a1" "a2" "a3";
  }
  body#contact aside:nth-of-type(1) {
    grid-area: a1;
  }
  body#contact aside:nth-of-type(2) {
    grid-area: a3;
  }
  body#contact aside:nth-of-type(3) {
    grid-area: a2;
  }
  body#contact footer {
    grid-area: f;
  }
}
@media screen and (max-width: 768px) {
  body#home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#home main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#home main article {
    grid-area: 2/1/3/2;
  }
  body#home main img {
    grid-area: 1/1/2/2;
  }
  body#home .sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
  }
  body#home .asides {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#home .asides aside:nth-last-of-type(1) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#client {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#client main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "art" "aside1";
  }
  body#client article {
    grid-area: art;
  }
  body#client article .sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#client .asides {
    grid-area: aside1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  body#client footer {
    grid-area: f;
  }
  body#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h h" "m m" "f f";
  }
  body#contact header {
    grid-area: h;
  }
  body#contact main {
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "s s" "a a";
  }
  body#contact section {
    grid-area: s;
  }
  body#contact .asides {
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "a1" "a2" "a3";
  }
  body#contact aside:nth-of-type(1) {
    grid-area: a1;
  }
  body#contact aside:nth-of-type(2) {
    grid-area: a3;
  }
  body#contact aside:nth-of-type(3) {
    grid-area: a2;
  }
  body#contact footer {
    grid-area: f;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-bottom: var(--header-margin-bottom);
}

header h1 {
  font-size: 45px;
  color: var(--header-text-color);
  font-family: var(--list-centuary-font-family);
}

header img {
  max-width: 60px;
  max-height: 40px;
}

header img:nth-of-type(1) {
  border-radius: 50%;
}

header img:nth-last-of-type(1) {
  display: none;
}

@media screen and (max-width: 1024px) {
  header img:nth-of-type(2) {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header img:nth-of-type(2) {
    display: block;
  }
}
footer {
  border-top: var(--border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: var(--border-color);
  padding: 10px;
}

body#home label {
  color: var(--home-label-color);
}
body#home input {
  border: var(--border-color);
  background-color: white;
}

form {
  padding: 5px;
  margin-bottom: 10px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  line-height: 18px;
  width: 150px;
  margin-right: 10px;
}

input {
  width: 360px;
  height: 26px;
  background-color: #eeefef;
  border: 1px solid #dddddd;
}

textarea {
  display: inline-block;
  vertical-align: top;
  width: 422px;
  height: 92px;
  background-color: #eeefef;
  border: 1px solid #dddddd;
}

input[type=submit] {
  width: 91px;
  height: 24px;
  border-radius: 11px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d4d3d3), to(#e9e9e9));
  background-image: linear-gradient(0deg, #d4d3d3 0%, #e9e9e9 100%);
  border: 1px solid #c6c6c6;
}

@media screen and (max-width: 768px) {
  body#home form {
    text-align: center;
  }
  body#contact .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  body#home form {
    text-align: center;
  }
  body#home .follow {
    margin-top: 20px;
  }
  body#home .follow img {
    margin: 10px;
  }
  body#contact .order {
    text-align: center;
  }
}
button {
  width: 91px;
  height: 24px;
  border-radius: 11px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d4d3d3), to(#e9e9e9));
  background-image: linear-gradient(0deg, #d4d3d3 0%, #e9e9e9 100%);
  float: right;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  body#home main {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: -10px;
  }
  body#home main img {
    width: 100%;
  }
  body#home main article h2 {
    color: var(--header-text-color);
  }
  body#home main article p:nth-child(2) {
    border-bottom: none;
  }
  body#home aside:nth-of-type(2) h2:nth-last-of-type(1) {
    text-align: center;
  }
  body#home aside:nth-of-type(2) .follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body#home aside:nth-of-type(2) .follow img {
    margin: 5px;
  }
  body#client main {
    text-align: center;
  }
  body#client main #iconClient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body#client main #iconClient img {
    display: none;
  }
  body#contact main {
    text-align: center;
  }
  body#contact main #iconContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body#contact main #iconContact h2 {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  body#home main {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  body#home main img {
    width: 100%;
  }
  body#home main article h2 {
    color: var(--header-text-color);
  }
  body#home main article h2, body#home main article p {
    text-align: center;
  }
  body#home main article p:nth-child(2) {
    border-bottom: none;
  }
  body#home .text {
    width: 100%;
  }
  body#home .asides aside:nth-last-of-type(1) h2 {
    text-align: center;
  }
  body#home .asides aside:nth-last-of-type(1) .follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body#client .sections section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body#client h2, body#client aside {
    text-align: center;
  }
}
/*
@import 'themes/theme';
@import 'themes/admin';
*//*# sourceMappingURL=main.css.map */